.btn {
    display: block;
    margin: 20px auto 0;
  font-size: 20px;
  padding: 8px 15px;
  background-color: rgba(9, 9, 121, 1);
  border-color: transparent;
  border-radius: 25px;
  color: white;
  transition: background-color 0.25s ease;
  &:hover,
  &:focus {
    background-color: rgb(8, 8, 99);
  }
}
