.item{
    max-width: 300px;
    background-color: rgb(228, 228, 228);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .25s ease;
    &:hover,
    &:focus {
        transform: scale(1.01);
    }
}
.wrapper_img{
    height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
}
.img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.wrapper_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.owner{

}
.likes{
    display: flex;
    gap: 5px;
}